/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #a01{
  background-image:url("a2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

#a12{
  background-image:url("aa.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
 }
 #a11{
  background-image:url("peakpx.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
 }
 #a13{
  background-image:url("peakpx (3).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
 }
 .a{
   font-size:xx-large;
   font-style:italic;
   color:rgba(8, 40, 67, 0.83);
   cursor:pointer;
 }
 .ti{
  font-size: xx-large;
  font-style:normal;
  font-family: verdana;
  font-variant: small-caps;
  font-display:unset;
 }
 .bo{
  font-size:x-large;
  font-family: verdana;
  font-variant: small-caps;
  font-style:oblique;
 }

 .button {
  border: none;
  color: rgb(109, 19, 19);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #4CAF50;
  color: white;
}
.button1{
  border: none;
  color: rgb(10, 6, 6);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1:hover {
  background-color: #000000;
  color: white;
}